body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: goldenrod;
    margin: 0;
    cursor: url('cursor.png'), auto; /* Apply the custom cursor */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-section, .middle-section, .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.left-section {
    flex-direction: column;
    text-align: left;
    justify-content: flex-start; /* Aligns title to the top */
}

.left-section h1 {
    font-size: 60px; /* Adjust size as needed */
    margin: 20px 0 0 0; /* Adds some space below the title */
	color:#987316;
}

.middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-section {
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
}
.right-section h1 {
    font-size: 60px; /* Adjust size as needed */
    margin: 20px 0 0 0; /* Adds some space below the title */
	color:#987316;
}
.right-section p{
	margin-top: 40px;
    text-align: left;
}

.map-container {
    position: relative;
}

#map {
    height: calc(100vh - 40px); /* Adjust for padding */
    width: auto;
    display: block;
}

.point {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid black;
    transform: rotate(45deg);
    position: absolute;
    cursor: url('cursor.png'), auto; /* Apply the custom cursor to points */
}

.highlighted {
    background-color: goldenrod;
    border: 2px solid black;
}

#table-of-contents {
    margin-top: 40px; /* Centers table of contents */
    margin-bottom: auto; /* Centers table of contents */
	color:#987316;
	font-weight:bold;
	
}

.highlighted-toc {
    color: goldenrod; /* Lighter shade of goldenrod */
}